# Meta / WhatsApp Business
WA_VERIFY_TOKEN=TU_VERIFY_TOKEN
WA_PHONE_NUMBER_ID=TU_PHONE_NUMBER_ID
WA_ACCESS_TOKEN=TU_ACCESS_TOKEN

# Base de datos MySQL / MariaDB
DB_HOST=localhost
DB_USER=root
DB_PASS=TU_CLAVE
DB_NAME=db_cualify